@model DriversManagement.Models.DTOs.User.CreateUserRequestDto
@{

}
<div class="border border-info">
    <div class="align-content-center">
        <form asp-controller="Users" asp-action="CreateUser" method="post">

        </form>
    </div>
</div>